.container{
    min-height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

.body{
    height: 100vh;
}

.header{
    display: flex;
    background-color: rgb(195, 195, 195);
    align-items: center;

}

.logout{
    display: flex;
    justify-content: flex-end;
}

